body {
	background-color: #F5F5DC;
	color: #2E0000;
	font-family: Verdana,Arial,sans-serif;
	background-image: url(javabackground.gif);
}

#wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: #E2D2B0;
	min-width: 960px;
	max-width: 2048px;
	box-shadow: 3px 3px 3px #2E0000;
}

main{
	padding: 20px;
	background-color: #F5F5DC;
	margin-left: 175px;
	display: block;
}

nav{
	float: left;
	font-weight: bold;
	text-align: center;
	width: 160px;
	padding: 10px 10px 10px 0px;
}

nav a:link{
	color: #795240;
}

nav a:visited{
	color: #A58366;
}

header{
	background-color: #D2B48C;
}
footer{
	background-color: #D2B48C;
	color: #000000;
	font-size: .60em;
	font-style: italic;
	text-align: center;
}
	
h1 {
	font-family: 'SmallCaps', sans-serif;
	font-size: 2en;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	margin-top: 1.0em;
	margin-bottom: 0.5em
}

h2 {
	font-family: 'SmallCaps', sans-serif;
	font-size: 2en;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
	margin-top: 1.0em;
	margin-bottom: 0.5em
}